@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* custom CSS  */
.hero-bg-gradient {
  background: linear-gradient(to bottom, #ffffff, #ececec);
}

/* CSS for text selections  */
::selection {
  background-color: #000;
  color: #ffffff;
}

::-webkit-selection {
  background-color: #000;
  color: #ffffff;
}

::-moz-selection {
  background-color: #000;
  color: #ffffff;
}

/* bullet points  */
ul.bullets li{
  list-style-type: disc;
}
